<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /login3/  # Reemplaza "login3" por tu carpeta
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>
